/* ================================ */
/*! 1. Selectors & Basic Properties - Hero Section */
/* ================================ */
/* Main 4 Type of CSS */

/* Universal Selector */
* {
    padding: 0;
    margin: 0;
}

/* Element Selector */
body {
    background: #f7f7f7;
    /* generally for most website */
    color: #333;
    /* generally for most website */
    font-family: "Poppins", Times, serif;
    /* Times and serif >> Backup Fonts */
}

/* Class Selector */
/* 90% of CSS */
.hero {
    padding: 100px;
}

.hero__title {
    color: black;
}

.hero__description {
    color: #5dcd4e;
}

/* ID Selector */
/* Target 1 element in App */
#hero__highlight {
    color: #304f34;
}

/* ================================ */
/*! 2. Fonts - Features Section */
/* ================================ */

.feature {
    color: rgb(59, 16, 100);
    font-family: Times, serif;
    padding: 100px;
}

.feature__item {
    padding: 30px 0;
    /* Y and X */

}

.feature__title {
    font-size: 2.8rem;
    /* rem - relative to fonts size to root >> better than px for font-size*/
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    /* text-decoration: underline; */
}

.feature__description {
    font-size: 18px;
    text-align: left;
    letter-spacing: 0.15rem;
    line-height: 2.4rem;
    word-spacing: 3rem;
    /* white-space: nowrap;
    white-space: pre-wrap; */
}

/* ================================ */
/*! 3. Colors - Call to Action Section */
/* ================================ */

.cta {
    padding: 100px;
    background-color: rgba(27, 108, 39, 0.539);
    /* background-color: hsl(200, 50%, 50%); */
    /* background-color: #ffffff*/
    /* background-color: #fff*/
    text-align: center;
}

.cta__description {
    padding: 15px 0;
    color: white;
}

button {
    color: none;
    border: none;
}

.cta__button {
    padding: 10px 20px;
    /* padding: 80px 50px 0px 10px; << Clock-wise TRBL*/
}

/* ================================ */
/*! 4. Box Model - Video Section */
/* ================================ */

.video {
    text-align: center;
    padding: 100px;
    font-weight: 500;
}

.video__description {
    margin-top: 10px;
    padding: 10px;
    font-weight: 300;
    color: #6e6e6e;
}

.video__controls {
    margin-top: 20px;
}

.video__button {
    border: 1px solid #5bb471;
    /* border: 2px dotted #5bb471; */
    background: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.video__button--primaary {
    margin-right: 10px;
}

.video__container {
    margin-top: 20px;
    background-color: #ccc;
    width: 100%;
    height: 400px;
    box-shadow: 18px 8px 20px -10px rgba(0, 0, 0, 0.3);
}

/* There is a CSS generator tool that can help css */

/* ================================ */
/*! 5. Flex - Programs Section */
/* ================================ */

.programs {
    padding: 80px;
    background-color: #eee;
    padding-bottom: 150px;
}

.programs__cards {
    display: flex;
    /*Main Use */
    /* justify-content: center; */     
    justify-content: space-between;
    /* justify-content: space-around; */
    align-items: center;
    gap:  20px;
    margin-top: 20px;
}

.programs__card {
    background-color: #b84545;
    padding: 30px;
    width: 10%;
    /* flex-grow: 1; */
    flex-basis: 10%;
    height: 300px;
}
/* ================================ */
/* 6. HTML Elements & Images - Form Section */
/* ================================ */

/* ================================ */
/* 8. Images and Final Styling */
/* ================================ */

/* ================================ */
/* 9. Navbar and Footer Section */
/* ================================ */